
obj/
bin/
public/


*.user
*.dbmdl
*.log
*.suo
*.vspscc
Backup*/
.vs/
$tf/


*.ruleset
*-lock.json

.idea/
node_modules/




_NCrunch_Gnivc.Fias.Master/
*.ncrunchproject
*.ncrunchsolution

*-lock.json
